.keyboard {
  margin: auto;
  max-width: 672px;
  padding: 0 1rem;

  &-row {
    display: flex;
    margin: 1rem 0;
    justify-content: center;

    &:nth-of-type(3) {
      margin-left: -3rem;
    }
  }

  &-key {
    margin: 0 0.15rem;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    background-color: var(--color-keyboard-key);
    border: none;
    flex: none;
    font-size: 1.25rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: inherit;

    &:hover,
    &:focus {
      background-color: var(--color-keyboard-key-hover);
    }

    &:active {
      background-color: var(--color-keyboard-key-active);
    }

    &.correct {
      background-color: var(--color-primary);
      color: #ffffff;
    }

    &.incorrect {
      background-color: var(--color-incorrect);
      color: var(--color-text);
    }
  }

  @media screen and (min-width: 701px) {
    &-row {
      &:nth-of-type(3) {
        margin-left: -4rem;
      }
    }

    &-key {
      width: 3rem;
      height: 3rem;
      margin: 0 0.5rem;
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }
}
